.container__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black-transparent);
}

.container__wrapper_canvas {
    border-top: var(--wrapper-border);
    border-bottom: var(--wrapper-border);
}


.container__btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 100%;
    background: none;
}

.container__btn-wrapper.mobile {
    flex-direction: row;
}

.container__btn {
    padding: 5px 15px;
}

.container__notification {
    margin: 0 10px;
}

.container__wrapper_canvas.mobile{
    flex-direction: column;
    align-items: stretch;
}

.canvas {
    background-color: var(--black);
}

/* progress screen */
.screen {
    width: 50%;
    padding: 8px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    border-radius: var(--border-radius);
}

.screen__wrapper {
    display: flex;
}


.screen__icon {
    width: 28px;
    margin: 0 2px;
}

.screen__icon_speed {
    width: 23px;
}





