.message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    background-color: var(--black-transparent);
    border-bottom: var(--wrapper-border);
    backdrop-filter: blur(3px);
}

.message__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.message__text {
    padding: 1rem;
}
.message__history p{
    margin: 5px;
}
.message__history-number {
    color: var(--green);
}