/****** GENERAL ******/
@font-face {
  font-family: 'ubuntu';
  src: url(../assets/fonts/ubuntuMono.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

:root {
  --white: #fff;
  --black: #000;
  --black-transparent: #0008;
  --gray-light: #ddd;
  --green: #5a3;

  --transition: 150ms;

  --border-radius: 3px;

  --wrapper-border: 5px solid var(--black);
}

html {
  font-size: 30px;
  font-family: 'ubuntu', 'Courier', monospace;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-image: url(../assets/img/pattern.jpeg);
  color: var(--white);
}

.btn {
  padding: 5px 15px;
  font-family: 'ubuntu', 'Courier', monospace;
  font-size: 22px;

  background-color: var(--gray-light);
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  transition: background-color var(--transition);
}
.btn:hover {
  background-color: var(--green);
}

.wrapper {
  background-color: var(--black-transparent);
  padding: 0.5rem;
}

.main-container {
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0001;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: var(--wrapper-border);
  border-bottom: none;
  border-radius: var(--border-radius);
}

/****** CONTAINER ******/

.container__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: var(--wrapper-border);
  border-bottom: var(--wrapper-border);
  height: 100%;
}

.container__btn {
  margin: 10px;
  min-width: 130px;
}

.container__message {
  margin: 0 10px;
}

.container__history-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  background-color: var(--black-transparent);
  border-bottom: var(--wrapper-border);
  backdrop-filter: blur(3px);
}

.container__history-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.container__history {
  padding: 1rem;
}
.container__history p{
  margin: 5px;
}
.container__history-number {
  color: var(--green);
}


/****** CANVAS ******/
.canvas {
  background-color: var(--black);
}

.screen {
  width: 50%;
  padding: 8px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  border-radius: var(--border-radius);
}

.screen__wrapper {
  display: flex;
}

.screen__icon {
  width: 28px;
  margin: 0 5px;
}

.screen__icon_speed {
  width: 23px;
}


/****** FOOTER ******/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  font-size: 25px;
  border-bottom: var(--wrapper-border);
}

.footer__link {
  border-radius: var(--border-radius);
  padding: 6px;
  background-color: var(--gray-light);
  transition: background-color var(--transition);
}
.footer__link:hover {
  background-color: var(--green);
}

.footer__icon {
  width: 28px;
}

